/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/


@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v24-latin-regular.woff2") format("woff2"),
  url("../fonts/montserrat-v24-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v24-latin-700.woff2") format("woff2"),
  url("../fonts/montserrat-v24-latin-700.woff") format("woff");
}

body{
  font-family: "Montserrat";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
}

.hero{
  margin: 0 auto;
  background-image: url("../images/first-lines.png"), url("../images/second-lines.png");
  background-color: #F7F7FE;
  background-repeat: no-repeat;
  background-position: calc(50% + 590px) calc(50% - 43px),  calc(50% - 660px) calc(50% + 455px);
}
.container{
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.picing{
  width: 1050px;
  margin: 0 auto;
  padding: 0 185px;
  padding-top: 21px;
  padding-bottom: 54px;
}
.pricing-top{
  width: 240px;
  margin: 0 auto;
}
.pricing-title{
  margin-bottom: 18px;
  font-size: 32px;
  line-height: 39px;
  color: #6E728E;
}

.pricing-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricing-list-items{
  width: 288px;
  padding: 31px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
}

.pricing-list-item{
  padding: 55px 31px;
  background: -o-linear-gradient(314.94deg, #A2A7F0 -0.05%, #696EDD 100.05%);
  background: linear-gradient(135.06deg, #A2A7F0 -0.05%, #696EDD 100.05%);
  border-radius: 10px;
}

.item-text{
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 28px;
  color: #6E728E;
}

.middle{
  text-align: center;
  color: #FFFFFF;
}

.middle-cost{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  color: #FFFFFF;
}

.cost{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  color: #4A4D60;
}

.dollar{
  margin-right: 8px;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -1.2px;
}

.middle-dollar{
  margin-right: 8px;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -1.2px;
}

.cost-list{
  margin-top: 32px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.cost-list-items{
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6E728E;
  border-top: 1px solid #6e728e40;
  padding: 12px 0;
}

.cost-list-items:nth-child(3){
  border-bottom: 1px solid #6e728e40;
}

.middle-cost-list-items{
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  border-top: 1px solid #ffffff40;
  padding: 12px 0;
}

.pricing-item-link{
  display: inline-block;
  margin-top: 32px;
  padding: 14px 86px;
  background: -o-linear-gradient(315deg, #A2A7F0 0%, #696EDD 100%);
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  color:#fff;
  border: 1px solid #6D72DE;
  border-radius: 6px;
  outline: none;
  text-decoration: none;
}

.pricing-item-link:hover{
  background: -o-linear-gradient(315deg, #fff 0%, #fff 100%);
  background: linear-gradient(135deg, #fff 0%, #fff 100%);
  color: #6D72DE;
  border: 1px solid #6D72DE;
  border-radius: 6px;
}

.middle-link{
  background: -o-linear-gradient(315deg, #fff 0%, #fff 100%);
  background: linear-gradient(135deg, #fff 0%, #fff 100%);
  color: #6D72DE;
  border: 1px solid #fff;
  border-radius: 6px;
}

.middle-link:hover{
  background: -o-linear-gradient(315deg, #A2A7F0 0.05%, #696EDD 100.05%);
  background: linear-gradient(135deg, #A2A7F0 0.05%, #696EDD 100.05%);
  -webkit-box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
          box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
  color:#fff;
  border: 1px solid #fff;
}